doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name=viewport content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.ico')


    title Ernst-Busch Jahrgang 2015

    base(href="/")

    link(rel="stylesheet" type="text/css" href="css/app.css")
    script.
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = { 
        enabled: true 
      };    
    script(type="text/javascript" src="/js/vendor.js")
    script(type="text/javascript" src="/js/templates.js")
    script(type="text/javascript" src="/js/app.js")
  body
    #page-wrap(ng-view="ng-view")
    script. 
      require('app');