html, body
  width: 100vw
  height: 100vh

body
  box-sizing:   border-box
  margin:       0
  font-family:  Helvetica Neue, Helvetica, sans-serif
  font-size:    2.9vh

pre
  font-family:  Helvetica Neue, Helvetica, sans-serif

ul, ol
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4
  margin:  0
  padding: 0
