body
  box-sizing:   border-box
  margin:       0
  font-family:  Helvetica Neue, Helvetica, sans-serif
  font-size:    100%
  background:   #90FFDC

ul, ol 
  margin: 0
  padding: 0
  list-style: none 

h1
  font-size:    4rem
  margin-top:   2rem
  margin-left:  4rem