#page-wrap
  box-sizing: border-box
  width:      100%
  height:     100%

header
  width:    100%
  height:   130px
  position: relative
  background: #fff
  text-align: center

actors
  width:           90%
  margin:          0 auto
  height:          100%
  padding-top:     8rem
  display:         flex
  box-sizing:      border-box
  flex-flow:       column wrap
  align-content:   space-around

events
  width:  100%
  height: 100%

