#page-wrap
  min-width:  100vw
  height:     100%
  box-sizing: border-box

header
  width:    100%
  height:   140px
  position: relative
  background: #fff

nav
  height:    50vh
  width:     8vw
  position:  relative
  float:     left 
  display:   inline-block
  margin-left: 3rem

places
  margin-top:     5rem
  width:          16vw
  height:         60vh
  display:        inline-block
  float:          left
  overflow: 	    scroll

map
  min-height: 100%

