.actors-wrap
  max-width:   90%
  display:     flex
  flex-wrap:   wrap
  margin:      0 auto

.actors-card
  padding:        10px
  display:        flex
  flex-direction: column
  cursor:         pointer

.actors-card-title
  font-size:   100%
  font-weight: 500

.actors-card-image
  margin:     13px 0
  width:      100px
  height:     100px
  filter:         grayscale(1)
  -webkit-filter: grayscale(1)
  -moz-filter:    grayscale(1)
  -o-filter:      grayscale(1)
  -ms-filter:     grayscale(1)
  transition:         all 1s ease-in-out
  -webkit-transition: all 1s ease-in-out
  -moz-transition:    all 1s ease-in-out
  -o-transition:      all 1s ease-in-out
  -ms-transition:     all 1s ease-in-out
  &img
    object-fit: fill 
  &:hover
    filter:         grayscale(0)
    -webkit-filter: grayscale(0)
    -moz-filter:    grayscale(0)
    -o-filter:      grayscale(0)
    -ms-filter:     grayscale(0)

.actors-card-description
  font-size:     0.8rem

.actors-theater-wrap
  position:           fixed
  top:                0px
  left:               0px
  z-index:            1000
  width:              100%
  height:             100%
  background-color:   rgba(0,0,0,0.8)

.actors-theater
  width:      30%
  margin:     0 auto
  margin-top: 10%
  color:      white
  img
    width: 400px