.events-card
  margin-left:    35vw
  width:          30vw
  height:         40vh
  padding:        10px
  display:        flex
  flex-direction: column
  cursor:         pointer

.events-card-title
  font-size:   1rem
  font-weight: 400

.events-card-image
  margin:     13px 0
  width:      10%
  height:     10%
  filter:         grayscale(1)
  -webkit-filter: grayscale(1)
  -moz-filter:    grayscale(1)
  -o-filter:      grayscale(1)
  -ms-filter:     grayscale(1)
  transition:         all 1s ease-in-out
  -webkit-transition: all 1s ease-in-out
  -moz-transition:    all 1s ease-in-out
  -o-transition:      all 1s ease-in-out

  &:hover
    filter:         grayscale(0)
    -webkit-filter: grayscale(0)
    -moz-filter:    grayscale(0)
    -o-filter:      grayscale(0)
    -ms-filter:     grayscale(0)

.events-card-description
  font-size:     0.8rem

