.events-card
  background-attachment: scroll
  background-clip:       border-box
  background-color:      #e3e3e3
  background-image:      none
  background-origin:     padding-box
  background-size:       auto
  box-sizing:            border-box
  color:                 black
  display:               block
  font-family:           Lato
  font-size:             1rem
  font-weight:           100
  padding:               20px
  margin:                0px 20px

.events-card-title
  font-size:   1rem
  font-weight: 400

.events-card-image
  margin:     13px 0
  width:      130px
  height:     130px
  filter:         grayscale(1)
  -webkit-filter: grayscale(1)
  -moz-filter:    grayscale(1)
  -o-filter:      grayscale(1)
  -ms-filter:     grayscale(1)
  transition:         all 1s ease-in-out
  -webkit-transition: all 1s ease-in-out
  -moz-transition:    all 1s ease-in-out
  -o-transition:      all 1s ease-in-out

  &:hover
    filter:         grayscale(0)
    -webkit-filter: grayscale(0)
    -moz-filter:    grayscale(0)
    -o-filter:      grayscale(0)
    -ms-filter:     grayscale(0)

.events-card-description
  font-size:     0.8rem

