.contact-info
  padding:    1rem
  margin-left: 5rem
  position:    relative

.contact-title
  top:       26rem
  left:      4.9rem
  font-size: 2.4rem
  display: inline-block
  position: absolute

.contact-description
  display: inline-block
  position: absolute
  top:      27rem
  left:     16rem


.contact-content:first-child, .contact-person-title
  opacity:   0.9
  font-size: 1rem

.contact-content, .contact-person-email
  opacity:  0.5
  font-size: 0.9rem


