.header-title
  font-size:   5.2vh
  margin-right: 1.3vw
  margin-top:  5.4vh
  font-weight: 300
  letter-spacing: 4px
  color: $highlight-color
  float: right

.header-year
  float: right
  margin-right: 5vw
  font-size:   10.8vh
  font-weight: 300
  opacity:     0.9

.main-group-menu
  position: fixed
  z-index:  1
  top:      3vh
  left:     2.5vw

.main-group-menu > ul > li
  margin-bottom: 0.7rem
  margin-right: 1rem
  transition: all 0.5s ease-in-out
  opacity:    0.5

  &.active
    opacity:   0.9

.main-group-menu > ul > li > a
  text-decoration: none
  color:           black
  font-weight:     200
