.header-title
  font-size:   1.1rem
  margin-top:  2rem
  font-weight: 300
  letter-spacing: 3px


.header-year
  margin-top:  -0.2rem
  font-size:   5rem
  font-weight: 400
  opacity:     0.9



.main-group-menu
  position: fixed
  z-index:  1
  top:      6%
  left:    2rem

.main-group-menu > ul > li
  margin-bottom: 0.7rem
  margin-right: 1rem
  &:before
    content:         ''
    border-radius:   100%
    position:        relative
    background:      #000
    display:         inline-block
    width:           0.7em
    height:          0.7em
    margin-right:    0.5em
    opacity:         0.9
    cursor:          pointer

.active
  transition: all 0.5s ease-in-out


.main-group-menu > ul > li > a
 text-decoration: none
 color:           black
 font-weight:     200


