.header-title
  display:      inline-block
  font-size:    2.6rem
  margin-top:   2rem
  margin-left:  4rem

.header-logo
  position: absolute
  bottom:   3rem
  width:    3rem
  height:   auto

.main-group-menu
  position: fixed
  z-index:  1
  top:      4%
  right:    6rem


.main-group-menu > ul > li > a
 text-decoration: none
 color:           black
