.actors-card(ng-repeat='actor in actors' ng-click='showActorsTheater(actor)')
  .actors-card-title
    | {{actor.name}}
  .actors-card-image(back-img="{{actor.image}}")

.actors-theater-wrap(ng-show='theaterVisible' ng-click='theaterVisible = false')
  .actors-theater(ng-click="$event.stopPropagation()")
    div.actors-theater-x(ng-click='theaterVisible = false') x
    img(ng-src='{{theaterActor.image}}')
    .actors-theater-name {{theaterActor.name}}
    .actors-theater-description
      p Geburtsdatum: {{theaterActor.birthdate}}
      p Geburtsort: {{theaterActor.birthplace}}
      p Größe: {{theaterActor.height}}
      p Muttersprache: {{theaterActor.motherLanguage}}
      p Fremdsprachen: {{theaterActor.foreignLanguages}}
      p Ausbildung: {{theaterActor.formalEducation}}
      p Besondere Fertigkeiten: {{theaterActor.skills}}
    .actors-theater-appearances
      

