.actors-card(ng-repeat='actor in actors' ng-click='showActorsTheater(actor)')
  .actors-card-title
    | {{actor.name}}
  .actors-card-image(back-img="{{actor.image}}")

.actors-theater-wrap(ng-show='theaterVisible' ng-click='theaterVisible = false')
  .actors-theater(ng-click="$event.stopPropagation()")
    div.actors-theater-x(ng-click='theaterVisible = false') x
    img(ng-src='{{theaterActor.image}}')
    .actors-theater-name {{theaterActor.name}}
    .actors-theater-description
      p 
        b Geburtsdatum: 
        | {{theaterActor.birthdate}}
      p 
        b Geburtsort: 
        | {{theaterActor.birthplace}}
      p 
        b Größe: 
        | {{theaterActor.height}}
      p 
        b Figur: 
        | {{theaterActor.physique}}
      p 
        b Haarfarbe: 
        | {{theaterActor.hairColor}}
      p 
        b Augenfarbe: 
        | {{theaterActor.eyeColor}}
      p 
        b Staatsangehörigkeit: 
        | {{theaterActor.nationality}}
      p 
        b Gesang, Instrumente: 
        | {{theaterActor.musicalSkills}}
      p 
        b Fremdsprachen: 
        | {{theaterActor.foreignLanguages}}
      p 
        b Dialekte: 
        | {{theaterActor.dialects}}
      p 
        b Tanz: 
        | {{theaterActor.danceSkills}}
      p 
        b sonstige Fertigkeiten: 
        | {{theaterActor.otherSkills}}
      
    .actors-theater-appearances


