.admin-wrap
  h1.admin-title Admin 
  form(novalidate='', enctype='multipart/form-data')
    label(for='name') Name:
    input(type='text', name='name',  ng-model='formResource.name')
    label(for='location') Ort:
    input(type='text', name='location',  ng-model='formResource.location')
    label(for='description') Beschreibung:
    input(type='text', name='description',  ng-model='formResource.description')
    input.button-save(type='submit', ng-click='saveResource()', value='Save')
  table
    tbody
      tr(ng-repeat="resource in resources")
        td
          | {{resource.name}}
        td
          button.button-edit(ng-click='editResource(resource)') edit
          button.button-remove(ng-click='removeResource(resource)') remove