map
.contact-info
  h3.contact-title Kontakt
  .contact-description
    p.contact-content Hochschule für Schauspielkunst &bdquo;Ernst Busch&rdquo;
    p.contact-content Schnellerstraße 104
    p.contact-content 12439 Berlin
    p.contact-content Telefon: 030 / 755 417 – 133

    h4.contact-person-title Ansprechpartner
    a.contact-person-email(href="mailto:schauspiel@hfs-berlin.de")
      | schauspiel@hfs-berlin.de

    h4.contact-engineering Design und Entwicklung
    a.contact-engineering-person(href="https://github.com/timmeinhardt" style="margin-right:3vw;")
      | Tim Meinhardt
    a.contact-engineering-person(href="https://github.com/ArturNagenrauft")
      | Artur Nagenrauft
