map
.contact-info
  h3.contact-title Kontakt
  .contact-description
    p.contact-content Hochschule für Schauspielkunst »Ernst Busch«
    p.contact-content Schnellerstraße 104
    p.contact-content 12439 Berlin
    p.contact-content Telefon: 030 / 755 417 – 133
    h4.contact-person-title Ansprechpartner:
    p.contact-person-email lukas.darnstädt@googlemail.com

  