ak-panel-group-menu(class="main-group-menu" for="mainGroup")
ak-panel-group(name="mainGroup"
    full-window="true"
    fixed-scrolling="true"
    keyboard="true"
    speed="1100"
  )
  ak-panel(name="Ensemble")
    header
    actors

  ak-panel(name="Spielplan")
    events

  ak-panel(name="Kontakt")
    footer
