ak-panel-group-menu(class="main-group-menu" for="mainGroup")
ak-panel-group(name="mainGroup" full-window="snapScrollActive" fixed-scrolling="true" keyboard="true" speed="1200")
  ak-panel(name="Ensemble")
    header
    actors

  ak-panel(name="Kontakt")
    footer
